.coin-row {
    width: 28vw;
  margin: 15px;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: rgba(207, 217, 217, 0.53);
  box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.14),
    inset 5px 5px 10px rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(14px);

  border-radius: 15px;
}
@media only screen and (max-width: 600px) {
    .coin-row{
        width:28rem;
    }
}
.coin-data {
  font-size: 18px;
  line-height: 21px;
}
.coin-name {
    display: inline;
  float: right;
  font-size: 40px;
  line-height: 47px;
}
.coin-symbol {
    display: inline;

}
.coin-price {
  width: 151px;
  height: 33px;
  font-weight: 500;
  font-size: 28px;
  float: right;
  line-height: 33px;
  /* identical to box height */

  text-align: right;

  color: #007319;
}
.image {
    display: inline;
  width: 90px;
  height: 90px;
}
.coin-percent
{
  font-size: 110%;
font-weight: 600;
}
.green{
  color: #007319;
}.red{
  color: #d61900;
}